@font-face {
    font-family: 'balatro';
    src: url('balatro.woff2') format('woff2'),
        url('balatro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

